<!DOCTYPE html>
<html lang="en" ng-app="demoApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DEMO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-route.min.js"></script>
    <script src="app.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
        integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9272ac0a4d.js"></script>
    <link rel="stylesheet" href="custom.css">
</head>

<body id="body">

    <appheader></appheader>

    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent py-5">
            <div class="d-flex container"><a id="logo" class="navbar-brand" href="#"><img id="logo-image"
                        src="images/Habanero New Sharper.png" alt=""><span id="logo-text">Habanero</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="#/!">START<span
                                    class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#!theproblem">THE PROBLEM</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!thesolution">THE SOLUTION</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!habaneros">HABANEROS</a> </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div ng-view></div>

    <appfooter></appfooter>

    <footer class="bg-green">
            <div class="footer container" ng-controller="ExampleController">
        <div class="d-flex justify-content-between align-items-center">
            <h4>
                Add your organization to Habanero
            </h4>
            <div class="d-flex px-1 justify-content-around">
                <div>
                    <form novalidate class="css-form d-flex justify-content-between  align-items-center">
                            <input class="m-2" type="email" ng-model="email" ng-model-options="{ updateOn: 'blur' }" placeholder="Enter your email..." required /> 
                        <input class="btn btn-light"" type="button" ng-click="update(user)" value="REGISTER" />  
                    </form>
                </div>
            </div>
            <div>&copy; 2020 Joacim Hammarström.</div>
            <div class="px-1">
                <img src="images/Path 1.png" alt="" class="symbol">
                <img src="images/Path 2.png" alt="" class="symbol">
                <img src="images/Path 3.png" alt="" class="symbol">
                <img src="images/Habanero white.png" alt="" class="symbol2">
            </div>
        </div>
        <p class="text-center">{{ email + " " }}</p>                      
    </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
        integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P"
        crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>

</html>