<div class="main-content">
    <div class="container">
        <div class="content-style" style="width: 30%">
            <div class="ml-5" style="text-align: center">
                <h1>{{ title }} </h6>
                <p style="margin-bottom: 0px;">{{ text_a }}</p>
                <p>{{ text_b }}</p>
                <p>{{ text2 }}</p>
                <p>{{ text3 }}</p>
                <p>{{ text4 }}</p>
            </div>
        </div>
    </div>
</div>      
<img class="background-image" src="images/Woman with iPhone Green.png" alt="">
